# dependencies
frontend/node_modules/
node_modules/

# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts

# Native
frontend/.kotlin/
frontend/*.orig.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# Environment
.env
.env*.local
frontend/.env
backend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
backend/.venv/
.codex

# Database
#backend/db.sqlite3

# Asset Overrides
frontend/assets/audio/*
!frontend/assets/audio/
!frontend/assets/audio/Night Changes X Woh Din*xmNukxEHLlA*.mp3

# Generated native folders
frontend/ios/
frontend/android/
/backend/.env
/backend/staticfiles
/play-veee-firebase-admin.json
/android
/ios
/.expo
expo-env.d.ts

